.vgInput {
  width: 300px;
  height: 50px;
  border: none;
  border-radius: $border-radius;
  padding: 8px 15px;
  font-size: 1.2rem;
  @extend .custom-box-shadow;

  &:focus {
    outline-color: $primary-accent-1;
  }
}

@include mq-max(575px) {
  .vgInput {
    width: 250px;
    height: 40px;
    font-size: 1rem;
  }
}
