/** colors list  **/
$black: #3b3c3d;
$blue: #3498db;
$deep-blue: #2980b9;
$light-blue: #f8fbff;
$white: #ffffff;
$gray: #918f8f;

/** template colors **/
$primary-text: $black;
$secondary-text: $white;
$bg-1: $light-blue;
$bg-2: $deep-blue;
$bg-3: $white;
$bg-4: $black;
$bg-5: rgba($black, 0.6);
$primary-accent-1: $blue;
$primary-accent-2: $light-blue;
$primary-accent-3: $deep-blue;
$vk: rgba(72, 114, 163, 1);
$fb: rgba(59, 89, 152, 1);
$inst: rgba(106, 69, 59, 1);
$telegram: rgba(86, 130, 163, 1);
$tiktok: rgba(0, 0, 0, 1);
