.Contacts {
  text-align: right;

  &-Phone {
    font-size: 1.6rem;
    font-weight: 500;
    display: inline-block;
    margin-bottom: 10px;
    color: $primary-accent-1;
    transition: color 0.3s ease;

    &:hover {
      color: $primary-accent-3;
    }
  }
}

@include mq-max(820px) {
  .Contacts {
    &-Phone {
      font-size: 1.4rem;
    }
  }
}

@include mq-max(735px) {
  .Contacts {
    text-align: center;

    &-Phone {
      font-size: 1.5rem;
    }
  }
}

@include mq-max(575px) {
  .Contacts {
    &-Phone {
      font-size: 1.4rem;
    }
  }
}

@include mq-max(300px) {
  .Contacts {
    &-Phone {
      font-size: 1.2rem;
    }
  }
}

/*
@include mq-max(575px) {
  .Contacts {
    &-Phone {
      font-size: 1.3rem;
    }
  }
}
 */
