.FooterSection {
  &-Title {
    margin-bottom: 15px;
    color: $secondary-text;
  }
  &-Item {
    //display: flex;
    //flex-flow: row nowrap;
    //justify-content: flex-start;
    //align-items: center;
    margin-bottom: 7px;
    color: $secondary-text;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &-Icon {
    @extend %fa-icon;
    @extend .fas;
    font-size: 1.3rem;
    margin-right: 7px;

    &_Home {
      &:before {
        content: fa-content($fa-var-home);
      }
    }

    &_Mail {
      &:before {
        content: fa-content($fa-var-envelope);
      }
    }

    &_Phone {
      &:before {
        content: fa-content($fa-var-phone);
      }
    }
  }

  &-Link {
    color: $secondary-text;
    padding-bottom: 2px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.2s linear;

    &:hover {
      border-bottom: 1px solid $secondary-text;
    }
  }
}

@include mq-max(767px) {
  .FooterSection {
    margin-bottom: 25px;

    &-Title {
      margin-bottom: 7px;
    }
  }
}

@include mq-max(575px) {
  .FooterSection {
    &-Title {
      font-size: 1.1rem;
    }
  }
}

@include mq-max(400px) {
  .FooterSection {
    &-Icon {
      display: none;
    }
  }
}
