.Logo {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;

  &-Img {
    width: 120px;
    margin-right: 20px;
  }

  &-Text {
    font-family: "Raleway", "Helvetica", Arial sans-serif;
    font-weight: bold;
    color: $primary-text;
    font-size: 2.1rem;

    & > p:first-child {
      margin-bottom: 5px;
    }
  }
}

/* @include mq-max(1200px) {
  .Logo {
    &-Text {
      font-size: 1.7rem;
    }
  }
}

@include mq-max(1020px) {
  .Logo {
    width: 100%;
  }
} */

@include mq-max(991px) {
  .Logo {
    &-Text {
      font-size: 1.9rem;
    }
  }
}

@include mq-max(820px) {
  .Logo {
    &-Img {
      width: 100px;
      margin-right: 15px;
    }

    &-Text {
      font-size: 1.7rem;
    }
  }
}

@include mq-max(735px) {
  .Logo {
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;

    &-Text {
      font-size: 1.8rem;
    }
  }
}

@include mq-max(575px) {
  .Logo {
    &-Text {
      font-size: 1.4rem;
    }
  }
}

@include mq-max(430px) {
  .Logo {
    flex-flow: column wrap;
    text-align: center;

    &-Img {
      margin-bottom: 10px;
      margin-right: 0;
    }
    &-Text {
      font-size: 1.3rem;
    }
  }
}

/* @include mq-max(767px) {
  .Logo {
    justify-content: center;
    margin-bottom: 20px;
  }
}

@include mq-max(575px) {
  .Logo {
    margin-right: 15px;

    &-Img {
      margin-bottom: 10px;
    }

    &-Text {
      text-align: center;
      font-size: 1.5rem;
    }
  }
}

@include mq-max(400px) {
  .Logo {
    &-Img {
      width: 100px;
    }

    &-Text {
      font-size: 1.3rem;
    }
  }
} */
