.ModalWindowBg {
  position: fixed;
  z-index: 10;
  background-color: $bg-5;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transform: translateX(101%);
  transition: all 0.6s ease;

  &_Show {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
}
