.vgInput {
  & > input {
    width: 300px !important;
    height: 50px !important;
    border: none !important;
    border-radius: $border-radius !important;
    padding: 8px 15px !important;
    font-size: 1.2rem !important;
    @extend .custom-box-shadow;

    &:focus {
      outline-color: $primary-accent-1 !important;
    }
  }
}

@include mq-max(600px) {
  .vgInput {
    overflow-x: unset !important;
  }
}

@include mq-max(575px) {
  .vgInput {
    & > input {
      width: 250px !important;
      height: 40px !important;
      font-size: 1rem !important;
    }
  }
}
