.vgSelect {
  & > select {
    /* appearance: none !important;
    width: 100% !important; */
    width: 300px !important;
    height: 50px !important;
    border: none !important;
    border-radius: $border-radius !important;
    padding: 8px 5px !important;
    font-size: 1.2rem !important;
    overflow: hidden !important;
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
    @extend .custom-box-shadow;

    &:focus {
      outline-color: $primary-accent-1 !important;
    }

    & > option {
      width: 200px !important;
      overflow: hidden !important;
      padding: 3px !important;
      text-overflow: ellipsis !important;
    }
  }
}

@include mq-max(600px) {
  .vgSelect {
    overflow-x: unset !important;
  }
}

@include mq-max(575px) {
  .vgSelect {
    & > select {
      width: 250px !important;
      height: 40px !important;
      font-size: 1rem !important;
    }
  }
}
