.vgCheckbox {
  & li {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  & input[type="checkbox"] {
    /* position: absolute !important;
    z-index: -1 !important;
    opacity: 0 !important; */
    & + label {
      display: inline-flex !important;
      align-items: center;
      user-select: none;

      &:before {
        content: "";
        display: inline-block;
        width: 25px;
        height: 25px;
        flex-shrink: 0;
        flex-grow: 0;
        border: none;
        border-radius: $border-radius;
        margin-right: 15px !important;
        @extend .custom-box-shadow;
      }

      & > a {
        color: $primary-accent-1 !important;
        font-weight: 500 !important;
        transition: color 0.3s ease-out;
        cursor: pointer;

        &:hover {
          color: $primary-accent-3 !important;
        }
      }
    }

    &:checked + label {
      &:before {
        border-color: #0b76ef;
        background-color: #0b76ef;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
      }
    }

    /* стили при наведении курсора на checkbox */
    &:not(:disabled):not(:checked) + label:hover::before {
      border-color: #b3d7ff;
    }
    /* стили для активного состояния чекбокса (при нажатии на него) */
    &:not(:disabled):active + label::before {
      background-color: #b3d7ff;
      border-color: #b3d7ff;
    }
    /* стили для чекбокса, находящегося в фокусе */
    &:focus + label::before {
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }
    /* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
    &:focus:not(:checked) + label::before {
      border-color: #80bdff;
    }
    /* стили для чекбокса, находящегося в состоянии disabled */
    &:disabled + label::before {
      background-color: #e9ecef;
    }
  }
}
