.AboutClinic-Outer.container-fluid
  .Section
    h2.Section-Title.Section-Title_Dark Ветеринарная клиника Вятского ГАТУ
    .AboutClinic.container.Text_Center
      p Нашей целью является предоставление ветеринарных услуг основываясь на лучших стандартах работы российской и мировой ветеринарной медицины.
      p Клиника Вятского ГАТУ стремится к качественным переменам в сфере ветеринарии, а также предопределяет для себя максимальную клиентоориентированность и заботу о каждом посетителе.
      a(href="#").vgButton.vgButton_Transparent Запись на прием
