.Callback-Outer.container
  .Section
    form(action="").Callback
      input.vgInput(type="text" placeholder="Имя")
      input.vgInput(type="text" placeholder="Телефон")
      button.vgButton.vgButton_Primary Заказ обратного звонка