.vgMenu-Outer.container-fluid
  .row
    .col-12
      .MobileMenu
        .MobileMenu-RecordButton
          a(href="#").vgButton.vgButton_Primary Запись
            span &nbsp;на прием
        button.MobileMenu-Button
      .vgMenu-Inner
        button.MobileMenu-CloseButton.vgMenu-CloseButton
        ul.vgMenu
          li.vgMenu-Item
            a.vgMenu-Link(href="#") Клиника
          li.vgMenu-Item
            a.vgMenu-Link(href="#") Прайс
          li.vgMenu-Item
            a.vgMenu-Link(href="#") Специалисты
          li.vgMenu-Item
            a.vgMenu-Link(href="#") Владельцам
          li.vgMenu-Item
            a.vgMenu-Link(href="#") Коллегам
          li.vgMenu-Item
            a.vgMenu-Link(href="#") Отзывы
          li.vgMenu-Item
            a.vgMenu-Link(href="#") Контакты