.Partners-Outer.container-fluid
  .container
    .Section
      h2.Section-Title Партнеры
      .Partners
        .Partners-Item
        .Partners-Item
        .Partners-Item
        .Partners-Item
        .Partners-Item
      ul.Partners-Dots
        li.Dots_Active
        li
        li
