.Price.container
  .Section
    h2.Section-Title Наши услуги
    .PriceItems
      .PriceItems-Item
        img.PriceItems-Img(src="./images/price_1.png", alt="")
        .PriceItems-Text
          h4.PriceItems-Title ТЕРАПИЯ
          p.PriceItems-Description Терапевтическое отделение клиники ежедневно ведет прием четвероногих пациентов
      .PriceItems-Item
        img.PriceItems-Img(src="./images/price_2.png", alt="")
        .PriceItems-Text
          h4.PriceItems-Title УЗИ ДИАГНОСТИКА
          p.PriceItems-Description Необходимые вашему питомцу УЗИ исследования
      .PriceItems-Item
        img.PriceItems-Img(src="./images/price_3.png", alt="")
        .PriceItems-Text
          h4.PriceItems-Title ХИРУРГИЯ
          p.PriceItems-Description Кастрация, стерилизация, ампутация хвоста, наложение гипса или кожно-мышечных швов и др
      //.PriceItems-Item
        img.PriceItems-Img(src="./images/price_4.png", alt="")
        h4.PriceItems-Title.Text_Center ГРУМИНГ
        p.PriceItems-Description.Text_Center Гигиеническая стрижка животных

    .Price-FullPrice.Text_Center
      p Полный список наших услуг, а также их стоимость можно посмотреть в прайсе
      a(href="#").vgButton.vgButton_Primary Прайс