.container
  .Section
    h2.Section-Title Отзывы
    .Reviews
      .Reviews-Item
        h3.Reviews-Name Иванов Иван
        .Reviews-Text Повседневная практика показывает, что дальнейшее развитие различных форм деятельности в
          | значительной степени обуславливает создание форм развития. Задача организации, в особенности же начало
          | повседневной работы по формированию позиции способствует подготовки и реализации дальнейших направлений развития.
      .Reviews-Item
        h3.Reviews-Name Иванов Иван
        .Reviews-Text Повседневная практика показывает, что дальнейшее развитие различных форм деятельности в
          | значительной степени обуславливает создание форм развития. Задача организации, в особенности же начало
          | повседневной работы по формированию позиции способствует подготовки и реализации дальнейших направлений развития.
      .Reviews-Item
        h3.Reviews-Name Иванов Иван
        .Reviews-Text Повседневная практика показывает, что дальнейшее развитие различных форм деятельности в
          | значительной степени обуславливает создание форм развития. Задача организации, в особенности же начало
          | повседневной работы по формированию позиции способствует подготовки и реализации дальнейших направлений развития.
    .Section-ShowAll.Text_Center
        a(href="#").vgButton.vgButton_Primary Все отзывы

