.Specialists.container-fluid
  .container
    .Section
      h2.Section-Title Специалисты
      .Specialists-Grid
        .Specialists-Item
          img.Specialists-Img(src="./images/doctor.jpg", alt="")
          .Specialists-About
            p.Specialists-Name Иванов-Болконский Александр Александрович
            p.Specialists-Spec Ветеринарный врач
        .Specialists-Item
          img.Specialists-Img(src="./images/doctor.jpg", alt="")
          .Specialists-About
            p.Specialists-Name Иванов-Болконский Александр Александрович
            p.Specialists-Spec Ветеринарный врач
        .Specialists-Item
          img.Specialists-Img(src="./images/doctor.jpg", alt="")
          .Specialists-About
            p.Specialists-Name Иванов-Болконский Александр Александрович
            p.Specialists-Spec Ветеринарный врач
        .Specialists-Item
          img.Specialists-Img(src="./images/doctor.jpg", alt="")
          .Specialists-About
            p.Specialists-Name Иванов-Болконский Александр Александрович
            p.Specialists-Spec Ветеринарный врач
        .Specialists-Item
          img.Specialists-Img(src="./images/doctor.jpg", alt="")
          .Specialists-About
            p.Specialists-Name Иванов-Болконский Александр Александрович
            p.Specialists-Spec Ветеринарный врач
        .Specialists-Item
          img.Specialists-Img(src="./images/doctor.jpg", alt="")
          .Specialists-About
            p.Specialists-Name Иванов-Болконский Александр Александрович
            p.Specialists-Spec Ветеринарный врач
        .Specialists-Item
          img.Specialists-Img(src="./images/doctor.jpg", alt="")
          .Specialists-About
            p.Specialists-Name Иванов-Болконский Александр Александрович
            p.Specialists-Spec Ветеринарный врач
        .Specialists-Item
          img.Specialists-Img(src="./images/doctor.jpg", alt="")
          .Specialists-About
            p.Specialists-Name Иванов-Болконский Александр Александрович
            p.Specialists-Spec Ветеринарный врач

      .Specialists-ShowAll.Text_Center
        a(href="#").vgButton.vgButton_Primary Все специалисты